.singleGig {
  width: 360px;
  height: 450px;
  border: 1px solid rgb(153, 150, 150);
  margin-bottom: 40px;

  .details {
    padding: 3px 22px;
    flex-direction: column;
    gap: 1px;
    display: flex;

    .ranking {
      display: flex;
      align-items: center;
      gap: 5px;

      span {
        font-size: 13px;
        font-weight: bold;
        color: #d7a203;
      }
      img {
        height: 16px;
        width: 16px;
      }
    }

    p {
      color: #0f0d0d;
    }

    .seller {
        display: flex;
        gap: 11px;
        align-items: center;

        img {
          width: 22px;
          height: 22px;
          border-radius: 52%;
          object-fit: cover;
        }
      }
  }

  img {
    width: 100%;
    height: 39%;
    object-fit: cover;
  }

  hr {
    border: 0.5px solid rgb(177, 175, 175);
  }

  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 12px;

    img {
      cursor: pointer;
      object-fit: cover;
      width: 21px;
      height: 21px;
    }

    .pricing {
      span {
        color: #858383;
        font-size: 13px;
      }
      
      div {
        display: flex;
        gap: 6px;
        align-items: center;
      }
      


      h2 {
        color: #646363;
        font-size: 16px;
        font-weight: 397;
      }
    }
  }
}
