.outer-div {
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #8144aa;
  color: rgb(230, 228, 228);

  .wrapper {
    display: flex;
    align-items: center;
    width: 1500px;

    .leftSide {
      display: flex;
      gap: 35px;
      flex-direction: column;
      padding: 5%;

      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 350;
        }
      }

      .popularOptions {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: rgb(213, 212, 212);
          padding: 6px 12px;
          border: 1px solid rgb(207, 205, 205);
          background-color: transparent;
          font-size: 15px;
          border-radius: 22px;
        }
      }
    }

    .rightSide {
      img {
        margin-top: 10%;
        margin-left: 5%;
      }
    }
  }
}
